[submodule "Assets/Dependencies/libs/CLogic.Core"]
	path = Assets/Dependencies/libs/CLogic.Core
	url = https://github.com/CLogicDev/CLogic.Core
[submodule "Assets/Dependencies/CLogic.Core"]
	path = Assets/Dependencies/CLogic.Core
	url = https://github.com/CLogicDev/CLogic.Core
